<form action="/process_excel" method="post" enctype="multipart/form-data">
  <label for="excel_file">Upload Excel File:</label>
  <input type="file" name="excel_file" id="excel_file">
  <input type="submit" value="Submit">
</form>